<% @dates.each do |date| %>
    <li data-role="list-divider" class="ui-bar-b"><%= date %></li>
    <% @events_by_date[date].each do |event| %>
        <li><%= render :partial => 'event', :object => event %></li>
    <% end %>
<% end %>