.ui-li-thumb, .ui-li-icon {
    top: 17px;
}

.ui-li-count {
    margin-top: 6px !important;
}

.list-address {
    margin-top: 1px !important;
}

.more-button {
    margin-top: 30px !important;
}

.ui-content {
    padding: 0 15px 0 15px;
}

.ui-select {
    margin-bottom: 10px;
    width: 100%;
}

.event-big {
    width: 100%;
}

.share-button-list {
    float: right;
    margin-top: -50px;
}

.share-buttons {
    width: 30px !important;
    float: left;
    margin-right: 5px;
}

.share-buttons img {
    width: 30px;
    height: 30px;
}

.check-button {
    width: 50px !important;
    height: 30px;
    line-height: 30px;
    display: block;
    text-decoration: none;
    background-color: red;
    color: #666666 !important;
    text-align: center;
    border-radius: 6px;
}

.time-club {
    color: #888888;
}