.ui-li-thumb, .ui-li-icon {
    top: 17px;
    left: 10px;
}

.ui-li-count {
    margin-top: 6px !important;
}

.list-address {
    margin-top: 1px !important;
}

.list-divider {
    text-transform: uppercase;
    background: #572877;
    color: white;
    text-shadow: none;
}

.more-button {
    margin-top: 30px !important;
}

.ui-content {
    padding: 0 15px 0 15px;
}

.ui-select {
    margin-bottom: 10px;
    width: 100%;
}

.event-big {
    width: 100%;
}

.share-button-list {
}

.share-buttons {
    width: 40px !important;
    float: left;
    margin-right: 5px;
}

.share-buttons img {
    width: 40px;
    height: 40px;
}

.check-button {
    width: 60px !important;
    height: 40px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    text-shadow: none;
    font-size: 15px;
    color: white !important;
    background-color: red;
    text-align: center;
    border-radius: 6px;
}

.time-club {
    color: #888888;
}

form {
    background: none;
    border: 0;
}